.row {
  display: flex;
  gap: 2%;
}

.col {
  border: 1px solid;
  flex: 1;
  padding: 5px;
  min-height: 40px;
}

.col.span-3 {
  flex-basis: 23.5%;
}

.col.span-4 {
  flex-basis: 32%;
}

.col.span-8 {
  flex-basis: 66%;
}

.col.span-9 {
  flex-basis: 74.5%;
}

.col.span-6 {
  flex-basis: 49%;
}
